html{
    background: #30303c;
}
input,textarea{
    font-family: Bahnschrift;
    border: none;
}
h1{
    font-size: 60px;
}
.mail,text,a{
    font-size: 30px;
}
h1,text{
    color: white;
    font-family: Bahnschrift;
}
a{
    font-family: Bahnschrift;
    color: yellowgreen;
    text-decoration: none;
}
a:hover{
    color: aliceblue;
    text-decoration: none;
}
@media (orientation: portrait){
    text,h1,a,input,textarea{
        font-size: 40px;
    }
}