a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: greenyellow;
}
text,h1{
    font-family: Verdana;
}
.tag{
    color: white;
    background: #30303c;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.sitemap{
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white
}