body.send_m{
    padding: 10px;
}
textarea{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0px;
    height: 40%;
    resize: none;
    margin: 0px;
}
input{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding: 3px;
}
.submit{
    border-radius: 0px 0px 10px 10px;
}
.center{
    border-radius: 0px;
}
@media (orientation: portrait){
    body{
        padding-left: 10%;
        padding-right: 10%;
    }
    body.send_m{
        padding-left: 23%;
        padding-right: 10%;
    }
    text{
        font-size: 20px;
    }
}
@media (orientation: landscape){
    body{
        padding-left: 40%;
        padding-right: 40%;
    }
    body.send_m{
        padding-left: 23%;
        padding-right: 10%;
    }
}